html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}
body {
  font-size: 1.6rem;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.todo-list-header {
  margin: 0 auto;
  font-size: 3.2rem;
  text-align: center;
}
.todo-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.todo-list-item {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1rem solid #e8e8e8;
  border-radius: 1rem;
  padding: 3rem 6rem;
  transition: all 200ms ease-in-out;
}
.todo-list-item:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.todo-list-item:hover .todo__delete {
  opacity: 1;
}
.todo-list-item__text {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 6rem;
}
.todo-list-item__input {
  width: 100%;
  display: flex;
  align-items: center;
}
.todo-list-item__input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.todo-list-item__input .todo__check-custom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  padding: auto;
  background-color: transparent;
  border-radius: 100rem;
  border: 0.25rem solid #36d7b7;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.todo-list-item__input .todo__check-custom::after {
  position: absolute;
  content: "";
  border: solid #36d7b7;
  border-width: 0 0.1rem 0.1rem 0;
}
.todo-list-item__input input:checked ~ .todo__check-custom {
  background: #36d7b7;
}

.todo__delete {
  cursor: pointer;
  border: none;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.c-svg__check {
  fill: #fff;
}

.c-svg__cross {
  fill: #f64747;
}
